/* Estilos para index */

/* Navbar */
/* Logo */
.logo {
  height: 48px;
  width: auto;
}

/* Sombra */
.shadow {
  box-shadow: 0px 2px 32px 0px rgba(0, 0, 0, 0.10);
}

/* Layout */
html, body {
  height: 100%;
}

body {
  position: relative;
}

/* Footer */
footer {
  background: #0d1117;
  bottom: 0;
  position: absolute;
  width: 100%;
}

footer .text {
  color: white;
}
